form{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.AdminEditBackground{
    background-color: #171031;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.AdminRegisterForm{
    width: 300px;
    margin: 40px auto;
    background-color: #004aad;
    border-radius: 20px;
    margin-bottom: 40px;
    padding: 5px 40px;
    box-shadow: -1px 10px 53px 2px rgba(165, 233, 245, 0.5);
}

.AdminRegisterForm h2 {
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffff;
    font-size: 28px;
    padding: 60px 50px 12px 50px;
}

h4{
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffff;
}


.AdminRegisterForm input[type = "password"],
.AdminRegisterForm input[type = "text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    margin-bottom:10px;
    box-sizing: border-box;
}

.BtnLogin{
    width: 100%;
    padding: 15px;
    background-color: rgb(76, 162, 5);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
    border-radius: 10px;
}

.BtnLogin:hover, btn-login:active{
    color: white;
    background-color: #165c19;
    border-color: #165c19;
}