
.product{
    background-color:#2d7fc8;
    border: 4px solid rgb(10, 4, 4);
    color: rgb(255, 254, 254);
    font-size: 15px;
    margin: 0 auto;
    box-shadow: 2px 10px 66px 32px cyan;
 
}
ul{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

img{

width: 100%;
height: 100%;
}

.description{

    padding: 10px;
    text-align: center;
    color: rgb(255, 254, 254);
    margin-top: -30px;
    /*i want that the products have text less gap*/
}
.name{
    font-size: 1rem;
}
.description p{
    line-height: 1.1;
        /*i want that the products have text less gap*/
        text-align: center;
        padding: 10px;
        font-family: Lato, sans-serif;
        line-height: 0.8rem;

}
  
.addToCartBtn {
    background-color:white;
    border: 3px solid rgb(0, 0, 0);
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-bottom: 5px;
  }

.addToCartBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: rotateY(8deg);
}

  

