.LoginBackground{
    background-color: #171031;
    margin:0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.LoginForm{
    box-shadow: -1px 14px 58px 8px rgba(0,0,0,0.75);
}

.LoginForm, .contenedor {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color: #004aad;
    border-radius: 10px;
    box-shadow: -1px 10px 53px 2px rgba(165, 233, 245, 0.5);
    border: 2px solid black ;
} 

.LoginForm h2 {
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffff;
    font-size: 28px;
    padding: 60px 50px 12px 50px;
}

.LoginForm .text{
    font-family: Lato, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ffff;
}

.LoginForm input[type = "password"],
.LoginForm input[type = "text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom:10px;
    box-sizing: border-box;
}

.BtnLogin {
    width: 1p;
    padding: 15px;
    background-color: rgb(76, 162, 5);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
    border-radius: 10px;
}

.BtnLogin:hover, btn-login:active{
    color: white;
    background-color: #165c19;
    border-color: #165c19;
}

.BtnLogin:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.BtnRegister{
    width: 100%;
    padding: 15px;
    background-color: rgb(76, 162, 5);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: white;
    margin-top: 20px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 10px;
}

.BtnRegister:hover, btn-register:active{
    background-color: #165c19;
}
